[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/internet-weblog"]
	path = themes/internet-weblog
	url = https://github.com/jnjosh/internet-weblog.git
